.userEmail {
    margin: 0;
    color: white;
    margin-right: 1rem;
    font-size: 0.9rem;
}

.logoutButton {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 12px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
    background-color: white;
    color: #333;
}

.navigationItem {
    display: flex;
    align-items: center;
}